[submodule "tmux/plugins/tpm"]
  path = tmux/plugins/tpm
  url = https://github.com:tmux-plugins/tpm.git
[submodule "dotbot"]
  path = dotbot
  url = https://github.com:anishathalye/dotbot.git
  ignore = dirty
[submodule "fzf-tab-completion"]
  path = fzf-tab-completion
  url = https://github.com:lincheney/fzf-tab-completion.git
