/*

!LICENSE
!README.md
!extensions/
!install
!install.conf.yaml

!dotbot/
!git/
!tmux/
!vim/
!zsh/

# vim crud
/vim/.netrwhist
/vim/.tmp
/vim/.undo
/vim/bundle
/vim/session
/vim/spell

# tmux crud
/tmux/plugins
