/*

!LICENSE
!README.md
!install
!install.conf.yaml

!dotbot/
!git/
!regolith/
!tig/
!tmux/
!vim/
!zsh/

# vim crud
/vim/.netrwhist
/vim/.tmp
/vim/.undo
/vim/extensions
/vim/session
/vim/spell

# tmux crud
/tmux/plugins
