[submodule "tmux/plugins/tpm"]
  path = tmux/plugins/tpm
  url = git@github.com:tmux-plugins/tpm.git
[submodule "dotbot"]
  path = dotbot
  url = git@github.com:anishathalye/dotbot.git
  ignore = dirty
[submodule "fzf-tab"]
  path = fzf-tab
  url = git@github.com:Aloxaf/fzf-tab.git
[submodule "vim/.packer"]
	path = vim/.packer
	url = git@github.com:wbthomason/packer.nvim.git
